* {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}
body {
  background-color: rgba(#ffd2aa, 1);
}

.demo-layout-transparent {
  background: url('../assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.linklist {
  text-align: center;
  padding-top:4%;
  line-height: 200%;
}

.contact-div {
  padding: 20px;
}

.gridback {
  background-color: rgba(244, 183, 93, 0.78);
}

#codename {
  color: gray;
  font-size: 70%;
}
