.tooltipster-base {
margin-left: 26px !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    .tooltipster-base {
    margin-left: 0px !important;
    }
}
.tooltipster-content{
  padding:20px;
}
