body.dark-mode {
  background-color: #2d2d2d;
  color: #eee;
}
body.dark-mode a {
  color: #eee;
}
body.dark-mode p.grey-text {
  color: #d3d3d3 !important;
}
body.dark-mode button {
  background-color: #eee;
  color: #111;
}
body.dark-mode ul.sidenav{
  background-color: #111;
  color: #eee;
}
body.dark-mode nav{
  background-color: #333;
}
body.dark-mode .page-footer{
  background-color: #2d2d2d;
}


body.light-mode {
  background-color: #eee;
  color: #111;
}
body.light-mode a {
  color: #111;
}
body.light-mode p.grey-text {
  color: #2d2d2d !important;
}
body.light-mode button {
  background-color: #111;
  color: #eee;
}
body.light-mode ul.sidenav {
  background-color: #eee;
  color: #111;
}
body.light-mode nav{
  background-color: #b71c1c;
}
ody.light-mode .page-footer{
  background-color: #E53935;
}
