td.dice, th.dice{
    width: 20px;
}


.diceButton {
    background: var(--secondary-variant);
    width: fit-content;
    height:fit-content;
    padding: 6px;
    border-radius: 4px;
    margin: 6px;
    vertical-align: auto;
    user-select: none;
}

.diceButton:hover {
    cursor: pointer;
    filter: brightness(110%);
}

.diceButton:active {
    filter: brightness(130%);    
}

.diceButton i {
    font-size: medium;
    margin-right: 6px;
}

.night-mode .diceButton {
    background-color: var(--secondary) !important;
}

input[type="text"] {
    float: right;
    margin-right: 0;
    width: 190px;
}

.selected {
    background-color: var(--secondary-variant) !important;
}

.night-mode .selected {
    background-color: var(--secondary) !important;
}

#skillsText {
    width: 220px !important;
    height: 120px !important;
    margin-right: 0;
}

p {
    padding: 0 100px;
}

#ytLink {
    color: var(--error);
    text-decoration: none;
} 
#ytLink:visited {
    color: var(primary);
    text-decoration: none;
}

i.fa-youtube {
    text-indent: 0 !important;
}

i.outgoing {
    margin-left: 4px;
    font-size: x-small;
}