:root {
  --primary: #6200EE;
  --primary-variant: #3700B3;
  --primary-variant-2: #BB86FC;
  --secondary: #E65100;
  --secondary-variant: #FFB74D;
  --background-light: #FFFFFF;
  --background-dark: #333333;
  --font-light: #333333;
  --font-dark: #dddddd;
  --error: #B00020;
}

@font-face {
  font-family: myFont;
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: myFontMedium;
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: normal;
}
* {
  font-family: myFontMedium;
  transition-duration: 200ms;
}
body {
  background: var(--background-light);
  color: var(--font-light);
}

.dark-mode {
  background-color: var(--background-dark);
  color: var(--font-dark);
}
.content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  background-color: var(--background-light);
  padding: 36px 24px;
  border-radius: 5px;
  border: solid 1px #b6b6b6;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
}

.dark-mode .content {
  background-color: var(--background-dark);
  border-color: #000;
}

@media screen and (min-width: 960px){
  .content {
    width: 50%;
  }
}

@media screen and (max-width: 960px) {
  .content {
    box-shadow: none !important;
    width: 85%;
    border: none !important;
  }
}

#settings {
  display: none;
}

#settings .key {
  
  width: 88% !important;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
}
.flex-child:first-child {
  margin-right: 0px;
} 


label {
  color: var(--primary-variant-2);
  font-weight: bold;
  display: block;
  margin-left: 10px;
}
.labelError {
  display:none;
  float:right;
  margin-right:10%;
  font-size: smaller;
  color: var(--error);
}

#inputError {
  font-size: x-small;
}

input[type=text] {
  background: #e6e6e600;
  border: none;
  border-bottom: solid 2px var(--primary-variant-2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 16px 12px 8px 16px;
  margin: 10px;
  width: 70%
}

.dark-mode input[type=text] {
  color: var(--font-dark);
}

input[type=text]:focus {  
  background: #e6e6e65e;
  border-bottom: solid 2px var(--primary);
  box-shadow: inset 0 2px 4px var(--primary-variant-2);
  outline: none;
}

.dark-mode input[type=text]:focus {
  background: #2525255e;
  box-shadow: inset 0 2px 4px var(--primary-variant);
}

.error {
  box-shadow: inset 0px 3px 3px var(--error);
  border-bottom: solid 2px var(--error) !important;
}

.error:focus {
  box-shadow: inset 0px 1px 2px var(--error) !important;
  border-bottom: solid 2px var(--error) !important;
}
input[type=text]:read-only {
  border-bottom: solid 2px var(--secondary);
  border-left: solid 2px var(--secondary);
  border-right: solid 2px var(--secondary); 
  box-shadow: none;
}

input[type=button] {
  min-width: 64px;
  height: 36px;
  color: white;
  font-family: myFontMedium;
  background: var(--primary);
  border-radius: 5px;
  border: none;
  box-shadow: none;
  padding: 0 16px;
  margin: 10px;
  transition-duration: 100ms;
  right: 0;
  cursor: pointer;
}

input[type=button]:hover {
  filter:brightness(120%);
}

.dark-mode input[type=button] {
  border-color: var(--primary-variant) !important;
}

@media screen and (max-width: 960px) {
  input[type=text] {
    width: 100px !important;
  }
  input[type=button] {
    min-width: fit-content;
  }
}

input[type=button]:active {
  background: var(--primary-variant-2) !important;
}

input[type=button].prefab {
  min-width: 40px !important;
  border: 1px solid var(--font-dark) !important;
  background: none;
  color: var(--secondary);
  margin: 5px !important;
  padding: 0 8px;
  font-size: smaller !important;
}

.dark-mode input[type="button"].prefab {
  border: 1px solid var(--secondary-variant) !important;
  color: var(--secondary-variant);
}

input[type="button"].prefab:hover {
  background:#ffb84d81;
}

input[type="button"].prefab:active {
  color: #fff;
  border: 1px solid var(--secondary) !important;
  background: var(--secondary) !important;
}

.base {
  width: 40px;
}

header, footer, .footer, .header {
  margin: 0;
  color: #ffffff;
}

.header {
  background: var(--primary);
  margin-bottom: 40px;
  position: fixed;
  left:0;
  top:0;
  width: 100%;
  overflow: hidden;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 10px;
}

.dark-mode .header {
  background: var(--primary-variant) !important;
}
.header a, .header p {
  float: right;
  display: block;
  color: var(--background-light);
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.header a {
  border-bottom: 3px solid var(--secondary-variant);
}

.dark-mode .header a {
  border-bottom: 3px solid var(--secondary);
}
.header a:last-child {
  margin-right: 0% !important;
}
.header a:hover {
  background-color: var(--secondary-variant);
}
.dark-mode .header a:hover, .dark-mode .header a:focus{
  background: var(--secondary) !important;
}

.header .current {
  padding: 0 0 0 30px;
  margin: 0;
  margin-top: 15px;
  font-size: larger;
  float:left;
  color: var(--font-dark);
}
.header a{
  margin-right: 20px !important;
}
@media screen and (min-width: 960px) {  
  .header p {
    margin-left: 23% !important;
  }
  .header a {
    margin-right: 26% !important;
  }

}
#footer {
  background: var(--secondary-variant);
  margin-top: 20px;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: small;
}

.dark-mode #footer {
  background: var(--secondary);
}

#base90, #base36 {
  width: 230px;
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .settings-buttons {
    display: block;
  }
}